@import './variables.scss';

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: white;
	color: $red-color;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
